:root {
  --primary-color: #ff5e5b;
  --secondary-color: #3e92cc;
}

.clickable:hover { cursor: pointer; }
.hidden { display: none !important; }
.hover:hover { opacity: 0.7; }
.dark { color: #fff; text-color: #fff; }
.full-width { min-width: 100%; }
.flex { flex: 1; }
.flex-shrink: { flex-shrink: 1; }
.flex-row { display: flex; flex-direction: row; }
.flex-column { display: flex; flex-direction: column; }
.flex-center { align-items: center; justify-content: center; }
.flex-wrap { flex-wrap: wrap; }
.align-center { align-items: center; }
.justify-center { justify-content: center; }
.justify-space-between { justify-content: space-between; }
.elevated {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),
              0 5px 8px 0 rgba(0,0,0,.14),
              0 1px 14px 0 rgba(0,0,0,.12) !important;
  webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),
              0 5px 8px 0 rgba(0,0,0,.14),
              0 1px 14px 0 rgba(0,0,0,.12) !important;
}
i.material-icons {
  font-size: 30px;
  margin: auto;
  display: block;
}
i.material-icons.large {
  font-size: 45px;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  min-height: 100% !important;
  font-size: 10px;
}

body {
  min-height: 100%;
  font-size: 1.6rem;
  overscroll-behavior-y: none;
  font-family: 'Bangers', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px;
}

#loader {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}
#loader > svg path, svg rect { fill: white; }

#header {
  align-self: flex-start;
  height: 100px !important;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  flex-shrink: 1;
}
#header img {
  height: 100%;
  cursor: pointer;
}
#header .download {
  margin-right: 20px;
  cursor: pointer;
  align-self: center;
}
#header .download:hover {
  opacity: 0.7;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer {
  align-self: flex-end;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px;
}

#footer > a {
  margin: 2px;
  text-decoration: none;
  color: black;
}
