---
layout: default
---

<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>THE BLOG</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      {{ content }}

      <article class="post-preview">
        <a href="{{"/about.html" | relative_url }}">
          <h2 class="post-title">What is PDFZero</h2>
        </a>
      </article>
      <hr>
      <!-- Home Post List -->
      {% for post in site.posts %}
        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
          </a>
        </article>
        <hr>
      {% endfor %}

    </div>
  </div>
</div>
